body {
	margin: 0;
	padding: 0;
/*	font-family: "Montserrat", sans-serif;*/

}

/*.material-icons-outlined {
	vertical-align: middle;
	line-height: 1px;
}*/

li{
    margin-top: 10px;
}
.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #bd5d38;
}


.card-img-top {
/*  style="max-height: 200px;min-height: 150px;object-fit: cover;*/
    max-height: 400px;
    min-height: 250px;
    object-fit: cover;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.container-fluid{
  background-image: linear-gradient(to right, 
    rgba(254, 254, 254, 1) 50%, 
    rgba(254, 254, 254, 0.6) 86%, 
    rgba(254, 254, 254, 0.8) 100%),
  url('../images/atoms2.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand > .material-icons-outlined{

}

/*
.rollin{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.rollin.active{
  transform: translateY(0);
  opacity: 1;
}*/

.rollin {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.8s;
}

.rollin.active {
  opacity: 1;
  transform: translateX(0px);
}




/*
.rollin { animation: rollIn 3s; }

@keyframes rollIn {
   0% { opacity: 0; transform: translateX(-100%) ; }
   100% { opacity: 1; transform: translateX(0px) ; } 
} 
*/